* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    color: white;
    width: 300px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 1.5em;
    border-radius: 10px;
    position: relative;

    & h1 {
        font-size: 1.7em;
        font-weight: 800;
    }

    & p {
        opacity: 0.5;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 0, blue);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    filter: brightness(2);
    animation: 2.5s spin linear infinite;
}

.card::before {
    filter: blur(1rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}